
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

//基本布局
html,
body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 60px 0 80px;
}
.wrap > .container-fluid {
}
.footer {
    height: 60px;
    color: #767676;

    .container {
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
}

.nav-sidebar {
  display: inline-block;
  border-right: 1px solid #ddd;

  > li {
    padding-right: 2px;

    > a {
      &:hover {
        border-color: transparent;
      }
    }

    &.active {
      border-right: 2px solid $brand-primary;
      padding-right: 0px; 

      &> a {
        &,
        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }
    }
  }
}

#tab-submit, #tab-usage {
  .nav-sidebar {
    margin-top: 20px;
    &.affix {
      margin-top: -100px;
    }
  }
}

.banner {
  position: relative;
  padding: 5px 0px 15px;
  margin-top: -10px;
  margin-bottom: 10px;
  
  background: linear-gradient(9deg, rgb(51, 122, 183) 0%, rgb(51, 63, 109) 100%);
  border-radius: 0px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/banner-pattern.png) repeat center center;
    background-size: 150px 150px;
    opacity: .6;
  }

  h1,h2,h3 {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  }
}



.hr-collapse {
  display: block;
  padding: 5px 0;
  position: relative;

  hr {
    margin: 0;
    margin-bottom: 10px;
  }
  span.glyphicon {
    position: absolute;
    right: 50%;
    top: 0px;
    background: white;
    margin-left: -5px;
    color: #aaa;
    font-size: 10px;

    &:before {
      content: "\e113";
    }
  }

  &.collapsed {
    span.glyphicon {
      &:before {
        content: "\e114";
      }
    }
  }
}

//条纹
@mixin striped($oddColor: inherit, $evenColor: #eeeeee){
  &:nth-child(odd){
    background-color: $oddColor;
  }
  &:nth-child(even){
    background-color: $evenColor;
  }
}

//同行标签和控件
.inline-label{
  float: left;
  min-width: 60px;
  line-height: 34px;
  margin-right: 5px;
  margin-bottom: 0px;
}
.inline-control{
  display: table-cell;
  width: 1%;
}


//同行属性
.prop{
  &-label{
    float: left;
    min-width: 60px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  
  &-content{
    display: table-cell;
  }
}

//小型hr
hr.small{
  margin-top: 5px;
  margin-bottom: 10px;
  clear: both;
}

.rt{
  //左侧固定宽度
  @mixin rt-left {
    float: left;
    width: 90px;
    min-height: 1px;
  }

  //右侧适应宽度
  @mixin rt-right {
    width: auto;
    overflow-y: hidden;
  }

  //图例
  &-legend {
    float: left;
    width: 40px;
    height: 30px;
    margin: 2px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    line-height: 30px;
  }

  //顶侧日期栏
  &-date {
    &-container {
      @include rt-right;
      margin-left: 90px;
      margin-bottom: 5px
    }

    &-row {
      display: inline-block;
      padding: 3px 0px;
      background-color: #337ab7;
      white-space:nowrap;
      color: white;
      text-align: center;
    }

    &-item {
      display: inline-block;
      width: 90px;
    }
  }

  //左侧房间栏
  &-room {
    &-col {
      @include rt-left;
      text-align: center;
    }

    &-item {
      height: 90px;
      padding-top: 30px;
      
      @include striped(auto, #f3f3f3);
    }
  } 
  
  //右侧具体信息
  &-table{
    &-content {
      @include rt-right;
    }

    &-row {
      height: 90px;
      white-space:nowrap; 
      @include striped(auto, #f3f3f3);
    }

    &-cell {
      display: inline-block;
      position: relative;
      width: 84px;
      height: 84px;
      padding: 2px;
      margin: 3px;
      line-height: 20px;
      border-radius: 4px;
      
      &:not(.disabled) {
        cursor: pointer;
      }

      &:not(.disabled):hover {
        background-color: #c4c4c4;
      }

      .content {
        width: 100%;
        height: 100%;
      }

      .caption {
        position: absolute;
        display:table;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(255, 0, 0, 0.30);
        &>.text{
          display: table-cell;
          text-shadow:2px 2px 8px #000000;
          white-space: normal;
          vertical-align:middle; 
          color: white;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
        }
      }

      .cell {
        float: left;
        width: 18px;
        height: 18px;
        margin: 1px;
        line-height: 18px;
        border-radius: 3px;
        text-align: center;
        font-size: 12px;
      }

    }
  } 
}

//预约时间选择器
.hourselect {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  line-height: 30px;
  border-radius: 5px;

  &>div {
    float: left;
    width: 26px;
    height: 26px;
    margin: 2px;
    line-height: 26px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
}

//申请模态框-倒计时
.modal-footer {
  position: relative;
}
.modal-countDown{
  position: absolute;
  left: 15px;
  bottom: 15px;
}

//小时指示
.note {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  &-row {
    margin-bottom: 5px;
  }

  &-label, &-content{
    display: table-cell;
  }

  &-hour{
    display: inline-block;
    width: 20px;
    text-align: center;
  }
  &-legend{
    display: inline-block;
    padding: 1px 3px;
    margin-right: 3px;
    border-radius: 4px;
  }
}

//时间表状态
.z-rt{
  &-free {
    background: #93EBA5;
    color: black;
  }

  &-ordered {
    background: #F0C862;
    color: white;
  }

  &-used {
    background: #F37777;
    color: white;
  }

  &-locked {
    background: #CECECE;
    color: black;
  }

  &-choosen {
    background: #30971D;
    color: white;
  }
}

//登录框
#login-panel {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
/*
.form-group {
  margin-bottom: 5px;
  overflow: hidden;
  _height: 1%;
}*/

.label {
  padding: .1em .6em .2em;
}


.pagination{
     -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
      -ms-user-select:none;/*IE10*/
   -khtml-user-select:none;/*早期浏览器*/
          user-select:none;
}

.panel-lock{
  position: relative;
}

.btn-lockedit {
  position:absolute;
  right: 70px;
  top: 5px;
}

.btn-lockdel {
  position:absolute;
  right: 20px;
  top: 5px;
}

//社团选择
.select-dept {
  display: inline;
  width: 100%;
  
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .select-dept {
    margin-right: 2%;
    width: 31.3%;
  }
}

//首页轮播
// Show and left align the captions
.carousel-caption {
  left: 10%;
  right: 10%;
  top: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  bottom: auto;
  text-shadow: 1px 1px 2px #000000, 0px 0px 20px #000000;

  p {
    text-align: left;
    font-size: 14px;
    text-indent: 28px;
  }
}


// Scale up controls for tablets and up
@media screen and (min-width: 768px) {
  .carousel-caption {
    top: 20px;
    left: 15%;
    right: 15%;
    bottom: auto;

    p {
      text-align: left;
      font-size: 18px;
      text-indent: 36px;  
    }
  }
}




//新roottable
.roomtable {
  position: relative;
  padding-left: 90px;
  padding-top: 30px;

  .date {
    &-list {
      position: absolute;
      display: block;
      top: 0;
      left: 90px;
      right: 0;
      height: 24px;
      padding: 2px 0;
      list-style-type: none;
      white-space: nowrap;
      overflow-x: scroll;
      background-color: #337ab7;
      text-align: center;
      color: #fff;
    }
    &-item {
      display: inline-block;
      width: 90px;
    }
  }

  .room {
    &-list {
      position: absolute;
      display: block;
      top: 30px;
      left: 0;
      right: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }
    &-item {
      display: block;
      height: 90px;
      padding-top: 30px;

      &:nth-child(even) {
        background-color: #f3f3f3;
      }

      .text {
        width: 90px;
      }
    }
  }

  &-content {
    position: relative;
    display: block;
    overflow-x: scroll; 
  }

  &-cell {
    cursor: pointer;

    &:not(.disabled):hover {
      .choosen {
        fill: #ddd;
      }
    }
    
    &.disabled {
      cursor: default;
    }
  }
}

//申请列表
.apply-form {
  button {
    min-width: 50px;

    &.btn-submit{
      min-width: 100px;
    }
  }
}
//新时段选择器
.hour-choose {
  .main {
    >rect,>text {
      cursor: pointer;
    }
  }
  .legend {
    vertical-align: bottom;
  }

  .text-hour {
    display: inline-block;
    min-width: 20px;
    text-align: center;
  }

  .has-error{
    color: $state-danger-text;
  }
}

//新社团选择器
.dept-select {
  .select-control {
    display: inline;
    width: 100%;
    margin-bottom: 5px;
  }

  @media (min-width: $screen-sm) {
    .select-control {
      margin-right: 2%;
      width: 31.3%;
    }
  }
}

//新验证码
.img-captcha {
  display: block;
  min-width: 120px;
  min-height: 36px;
  margin-bottom: 5px; 
}

//申请列表
.room-usage {
  .order-item, .lock-item  {
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ddd;
    border-left-width: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    .title {
      font-size: 20px;
    }

    &.approved {

      border-left-color: $brand-danger;
      .title {
        color: $state-danger-text;
      }
      border-left-color: $brand-success;
      .title {
        color: $state-success-text;
      }

    }
    &.pending {
      border-left-color: $brand-warning;
      .title {
        color: $state-warning-text;
      }
    }

    &.rejected {
      border-left-color: $brand-danger;
      .title {
        color: $state-danger-text;
      }
    }
  }
}

//申请信息
.info {
  &-table {
    display: table;
    width: 100%;
  }
  &-row {
    display: table-row;
  }
  &-cell {
    display: table-cell;
    width: 1%;
  }
}

.alert.fixed {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 50px;
  opacity: 0.8;
}
